---
---

@import "minima";

.footer-col-3 {
    float: right;
    width: 33.3333%;
    padding: 10px;
  }
  
  .footer-col-3 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }